.topImg{
	height:370px;
	width:100%;
	text-align: center;
	line-height: 370px;
	font-size: 60px;
	background-color: #999;
}
// 主题内容样式
.intro-nav{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
	height:100px;
	ul{
		li{
			width:50%;
			text-align: center;
			float: left;
			line-height: 100px;
			span{
				font-weight: bold;
				margin-right: 20px;
			}
		}
	}
}
.classInfo {
    margin-top: 30px;
    width: 1200px;
    margin: 30px auto;
    overflow: hidden;
    ul {
        margin: 0 10px;
        li {
            float: left;
            width: 30%;
            border: 1px solid #666;
            margin-left: 4%;
            padding-bottom: 10px;
            margin-bottom: 50px;
            img {
                width: 100%;
                height: 243px;
                border-bottom: 1px;
            }
            h4 {
                line-height: 50px;
                font-size: 20px;
                text-indent: 10px;
            }
            p {
                font-size: 16px;
                color: #666;
                padding: 0 10px;
            }
        }
        li:nth-of-type(1){
        	margin:0;
        }
        li:nth-of-type(4){
        	margin:0;
        }
    }
}
