html,
body {
	width: 100%;
	height: 100%;
}

.content {
	width: 100%;
	max-width: 690px;
	margin: 0 auto;
}


/*新闻标题*/

.content h2 {
	padding: 60px 0px 30px 0px;
	font-size: 28px;
	font-weight: normal;
}

.content .fx {
	padding-bottom: 20px;
}
.content .fx p{
	float: right;
}
.content .fx label {
	font-size: 12px;
}

.content .fx .icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 0 2px;
	margin-bottom: -4px;
}
.content .fx .kj{
	background: url(../img/ndIcon.png) 0 0px;
}
.content .fx .wb{
	background: url(../img/ndIcon.png) -18px 0px;
}
.content .fx .txwb{
	background: url(../img/ndIcon.png) -38px 0px;
}
.content .fx .wx{
	background: url(../img/ndIcon.png) -58px 0px;
}
.content .fx .rr{
	background: url(../img/ndIcon.png) -78px 0px;
}
.content .fx .qt{
	background: url(../img/ndIcon.png) -98px 0px;
}
.content .fx .other{
	width: 40px;
	background: url(../img/ndIcon.png) -116px 0px;
}
.content .fx .icon:hover {
	cursor: pointer;
}

.content .fx .time {
	font-size: 14px;
	color: #666666;
	margin-top: -10px;
}

@media only screen and (max-width: 650px) {
	.content {
		width: 90%;
		margin: 0 auto;
	}
	.content .fx .icon {
		margin-top: 20px;
	}
	.content .fx p {
		display: block;
		margin-top: 0px;
		font-size: 14px;
		float: none;
	}
}


/*新闻文本*/

.content .text {
	padding: 46px 0px 30px 0px;
}

.content .text p {
	font-size: 14px;
	color: #666666;
	margin: 20px 0px;
	line-height: 30px;
}
.content .text h5{
	margin-top: 20px;
}
.content .text .img {
	display: block;
	width: 100%;
	background-size: 100% 100%;
	margin: 0px 0px;
}


/*切换新闻按钮*/

.content .page {
	width: 100%;
	padding: 20px 0px 60px 0px;
}

.content .page span {
	font-size: 14px;
}

.content .page span:hover {
	cursor: pointer;
}

.content .page .next {
	float: right;
}

@media only screen and (max-width: 400px) {
	.content .page{
		text-align: center;
	}
	.content .page span {
		display: block;
		margin: 0 auto;
		margin: 6px;
	}
	.content .page .next {
		float: none;
	}
}


/*评论模块*/

.content .comment {
	width: 100%;
	padding: 40px 0px;
	position: relative;
}

.content .comment textarea {
	width: 650px;
	height: 60px;
	padding: 20px;
	border: 1px solid #5fbf5e;
	border-radius: 10px;
	border-color: #5fbf5e;
	outline: none;
	resize: none;
}

@media only screen and (max-width: 650px) {
	.content .comment textarea {
		width: 80%;
		height: 60px;
		padding: 20px;
	}
}

.content .comment .login {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 40px;
	border: 1px solid #5fbf5e;
	text-align: center;
	line-height: 40px;
	color: #CCCCCC;
	position: absolute;
	top: 10px;
	left: -2px;
	z-index: 10;
}
.content .comment .wb{
	font-size: 18px;
	color: #5fbf5e;
	position: absolute;
	top: 10px;
	right: 0px;
}
.content .comment .login:hover {
	cursor: pointer;
}

.content .comment .other {
	width: 100%;
	margin-top: 10px;
}

.content .comment .other .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: red;
	margin-right: 20px;
}

.content .comment .other .icon:hover {
	cursor: pointer;
}

.content .comment .other .subBtn {
	display: block;
	padding: 5px 10px;
	background-color: gray;
	color: white;
	float: right;
}

.content .comment .other .subBtn:hover {
	cursor: pointer;
}

@media only screen and (max-width: 650px) {
	.content .comment .other .subBtn {
		display: block;
		padding: 5px 10px;
		background-color: gray;
		color: white;
		text-align: center;
		float: none;
		margin-top: 20px;
	}
}


/*已经评价过的内容*/

.content .existence {
	margin-top: 30px;
	width: 100%;
	height: 120px;
	background-color: aqua;
	margin-bottom: 60px;
	text-align: center;
}
/*热门动态*/
.content .news {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.content .news h2{
	padding: 20px 0px 0px 0px;
}
@media only screen and (max-width: 400px) {
	.content .news {
		position: relative;
		z-index: 10;
	}
}

.content .news .newInfo {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 40px;
	border: 1px solid gainsboro;
	padding: 0px;
	position: relative;
}

.content .news .newInfo:hover {
	box-shadow: 0px 30px 60px 0px rgba(45, 44, 44, 0.2);
	
}

.news .newInfo .newImg {
	display: block;
	width: 40%;
	max-height: 182px;
	background-color: darkblue;
	overflow: hidden;
}

.news .newInfo .newImg img {
	display: block;
	width: 100%;
	background-size: 100% 100%;
}

.news .newInfo .newImg:hover {
	cursor: pointer;
}

.news .newInfo .newText {
	display: inline-block;
	width: 56%;
	position: absolute;
	top: 0;
	right: 0px;
}

@media only screen and (max-width: 650px) {
	.content .news .newInfo {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 40px;
		padding-bottom: 30px;
	}
	.news .newInfo .newImg {
		display: block;
		width: 60%;
		height: auto;
		background-color: darkblue;
	}
	.news .newInfo .newText {
		display: block;
		width: 90%;
		position: static;
		margin: 0 auto;
		margin-left: 0px;
	}
}

.news .newInfo .newText span {
	font-size: 12px;
	color: #999999;
}

.news .newInfo .newText h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 20px 0px 18px 0px;
}

.news .newInfo .newText h2:hover {
	cursor: pointer;
}

.news .newInfo .newText p {
	font-size: 14px;
	color: #666666;
}

.news .newInfo .newText p:hover {
	cursor: pointer;
}