@charset "utf-8";
/* Download : http://www.codefans.net *?
/* Reset css*/
body,h1,h2,h3,h4,h5,h6,div,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body{_overflow:auto;_height:100%;margin:0 auto;}
html{_overflow:hidden}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol,li,dl,dt,dd{list-style:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font:12px/1.5 tahoma,arial,sans-serif; vertical-align:middle;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
.clear{display:block;float:none;clear:both;overflow:hidden;visibility:hidden;width:0;height:0;background:none;border:0;font-size:0}

/*a*/
a{ text-decoration:none; color:#555;}
a:hover{ color:#ff6600;}

/*title*/
h1 { font-size:50px;}
h2 { font-size:40px;}
h3 { font-size:30px;}
h4 { font-size:14px;}
h5 { font-size:12px;}
h6 { font-size:9px;}
*{
	padding: 0;
	margin:0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: "微软雅黑";
}
.head{
	img{
		float: left;
		padding: 20px 20px;
	}
	width:100%;
	height: 80px;
	ul{
		
		float: right;
		li{
			float: left;
			line-height: 80px;
			padding: 0 25px;
			font-size: 14px;
			a{
				color:#000;
			}
		}
	}
}
footer{
	.links{
		width:100%;
		height:59px;
		position: relative;
		.line{
			width:100%;
			height:1px;
			background-color: #ccc;
			position: absolute;
			bottom:15px;
			z-index: 8888;
		}
		.link-info{
		background-color: #fff;
		width:85%;
		margin:0 auto;
		overflow: hidden;
		height: 100%;
		border:1px solid #ccc;
		line-height: 59px;
		position: relative;
		z-index: 9999;
		span{
			float: left;
			padding: 0 10px;
			
		}
		ul{
			
			li{
				float: left;
				padding: 0 30px;
				
				a{
					color:#999;
				}
			}
		}
	}
	}
	.nav-bottom{
		margin:20px auto;
		overflow: hidden;
		img{
			float: left;
			margin: 20px 60px;
			
		}
		ul{
			float:right;
			margin-top:20px;
		}
		li{
			float:left;
			padding: 0 50px;
			a{
				color:#000;
			}
		}
	}
	.banquan{
		width:100%;
		height: 52px;
		background: #999;
		overflow: hidden;
		line-height: 52px; 
		b{
			font-weight: normal;
			margin-left: 30px;
			color:#fff;
		}
		ul{
			float: right;
			li{
				float: left;
				padding: 0 20px;
				cursor: pointer;
				a{
					color:#fff;
				}
			}
		}
	}
}