@charset "utf-8";

/* Download : http://www.codefans.net *?
/* Reset css*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0
}

body {
    _overflow: auto;
    _height: 100%;
    margin: 0 auto;
}

html {
    _overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 12px
}

ul,
ol,
li,
dl,
dt,
dd {
    list-style: none
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, sans-serif;
    vertical-align: middle;
    cursor: pointer
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clear {
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    background: none;
    border: 0;
    font-size: 0
}


/*a*/

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #ff6600;
}


/*title*/

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 9px;
}

* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "微软雅黑";
}

.head {
    height:83px;
    line-height: 83px;
    width:100%;
    box-shadow: 0 4px 5px 5px rgba(0,0,0,.2);
    .n-list{
        img {
        float: left;
        vertical-align: middle;
        margin-top:14px;
        }
        max-width: 1180px;
        margin:0 auto;
        width:100%;
        ul {
            float: right;
        li {
            float: left;
            font-size: 14px;
            padding:;
            a {
               
                border-radius: 25px;
                color: #333;
                padding:9px 30px;
            }
            a.active{
            background-color:#2097ea;
            color:#fff;
        }

        }
        
    }
    }
}

footer {
    .links {
        width: 100%;
        position: relative;
        .line {
            width: 100%;
            height: 1px;
            background-color: #ccc;
            position: absolute;
            bottom: 15px;
            z-index: 8888;
        }
        .link-info {
            background-color: #fff;
            width: 85%;
            margin: 0 auto;
            overflow: hidden;
            height: 100%;
           
            line-height: 35px;
            position: relative;
            z-index: 9999;
            span.inft-s {
                float: left;
                padding: 0 10px;
                display: block;
                width: 80px;
                height: 30px;
                position: absolute;
                left: 10px;
                top: 50%;
                margin-top: -15px;
                line-height: 30px;
            }
            span.link-btn{
                    display: none;
                }
            ul {
                width: 85%;
                float: right;
                height:59px;
                li {
                    float: left;
                    padding: 0 2%;
                    line-height: 59px;
                    a {
                        color: #999;
                    }
                }
                span {
                    display: none;
                }
            }
        }
    }
    .nav-bottom {
        margin: 20px auto;
        overflow: hidden;
        img {
            float: left;
            margin: 20px 60px;
        }
        ul {
            float: right;
            margin-top: 20px;
            margin-right: 15px;
        }
        li {
            float: left;
            padding: 0 40px;
            a {
                color: #000;
            }
        }
    }
    .banquan {
        width: 100%;
        height: 52px;
        background: #999;
        overflow: hidden;
        line-height: 52px;
        b {
            font-weight: normal;
            margin-left: 30px;
            color: #fff;
        }
        ul {
            float: right;
            li {
                float: left;
                padding: 0 20px;
                cursor: pointer;
                a {
                    color: #fff;
                }
            }
        }
    }
}
@media all and(max-width:1260px) {
    footer {
        .links {
            .link-info {
                ul {
                    height:auto;
                    li {
                       
                        line-height: 30px;
                    }
                }
            }
        }
    }
}
@media all and(max-width:1175px) {
    .nav-bottom {
        ul {
            li {
                padding: 0 25px;
            }
        }
    }
}
@media all and(max-width:890px) {
    .nav-bottom {
        img {
            float: left;
            margin: 20px 50px;
        }
        ul {
            li {
                padding: 0 12px;
            }
        }
    }
}
@media all and(max-width:877px) {
    
    footer {
        .links {
            .link-info {
                span.inft-s {}
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:821px) {
    .head {
        ul {
            transition:all 0.5s;
            width: 100%;
            background-color: #ccc;
            padding: 0;
            height: 0;
            position: absolute;
            top:80px;
            left:0;
            overflow: hidden;
            li {
                width: 100%;
                text-align: center;
                padding: 0;
                height: 35px;
                line-height: 35px;
            }
        }
        .mediaShow {
            float: right;
            width: 50px;
            height: 50px;
            background-color: #ccc;
            margin-top: 10px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

@media all and(max-width:768px) {
    footer {
        .links {
            .link-info {
                span.inft-s {}

                ul {
                    width: 75%;
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
        .nav-bottom {
            img {
                float: left;
                margin-right: 0;
            }
            ul {
                width:70%;
               li{
                line-height: 30px;
                padding: 0 10px;
               }
                
            }
        }
        .banquan {
            margin-top: 60px;
            overflow: visible;
            position: relative;
            text-align: center;
            ul {
                background-color: #ccc;
                width: 100%;
                position: absolute;
                bottom: 52px;
                display: flex;
                justify-content: center;
                li {}
            }
        }
    }
}
@media all and(max-width:650px) {
    footer {
        .nav-bottom {
            ul {
                width:70%;
               li{
                    font-size: 14px;
               }
                
            }
        }
    }
}
@media all and(max-width:640px) {
    footer {
        .links {
            .link-info {
                width:40%;
                max-height: 59px;
                    height: 59px;
                    overflow:visible;
                span.inft-s {}
                span.link-btn{
                    display: block;
                    width:80px;
                    height:30px;
                    background: #f60;
                    text-align: center;
                    color:#fff;
                    line-height: 30px;
                    position: absolute;
                    right:20px;
                    top:50%;
                    margin-top:-15px;
                    cursor: pointer;
                    border-radius: 10px;
                }
                ul {
                    background: #fff;
                    box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
                    display: none;
                    width: 75%;
                    overflow: hidden;
                    position: absolute;
                    left:50%;
                    top:50%;
                    z-index: 9999;
                    width:140%;
                    li {
                        font-size: 14px;
                        padding: 0 3%;
                    }
                }
            }
        }
    }
}
@media all and (min-width:481px) and (max-width:570px) {
    footer {
        .nav-bottom {
            ul {
                float: left;
                width: 60%;
                margin-left: 15px;
                li {
                    padding: 0 10px;
                }
            }
        }
    }
}
@media all and(max-width:520px) {
    footer {
        .links {
            .link-info {
                span.inft-s {
                    display: none;
                }
                span.link-btn{
                   margin-left: -40px;
                   left:50%;
                }
            }
        }
    }
}
@media all and(max-width:480px) {
    footer {
        .nav-bottom {
            img {
                float: left;
                margin: 20px 20px;
                margin-left: 30px;
            }
            ul {
                float: left;
                width: 60%;
                margin-left: 15px;
                li {
                    padding: 0 10px;
                }
            }
        }
    }
}

@media all and (max-width:350px) {
    footer {
        .nav-bottom {
            img {
                float: left;
                margin: 20px 20px;
                margin-left: 30px;
            }
            ul {
                float: left;
                width: 50%;
                li {
                    padding: 0 10px;
                }
            }
        }
    }
}
