html,
body {
	width: 100%;
	height: 100%;
}

.content {
	width: 100%;
}


/*教师风采标题*/

.content .top {
	width: 100%;
	height: 500px;
	background: url(../img/teacher_top.jpg) center no-repeat;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.content .top .fgImg {
	width: 100%;
	height: 335px;
	background: url(../img/teacher_fg1.png) center no-repeat;
	position: absolute;
	left: 0;
	bottom: -100px;
}

.content .top h4 {
	color: white;
	font-size: 12px;
	font-weight: normal;
	margin-top: 10px;
}

.content .top h4 span {
	display: inline-block;
	width: 110px;
	height: 1px;
	background-color: white;
	margin-bottom: 4px;
}

.content .top h4 span:nth-child(1) {
	margin-right: 50px;
}

.content .top h4 span:nth-child(2) {
	margin-left: 50px;
}

.content .top h2 {
	color: white;
	font-size: 40px;
	font-weight: normal;
	padding-top: 90px;
}

.content .top p {
	color: white;
	font-size: 16px;
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	.content .top h4 span {
		width: 80px;
	}
	.content .top h4 span:nth-child(1) {
		margin-right: 20px;
	}
	.content .top h4 span:nth-child(2) {
		margin-left: 20px;
	}
	.content .top h2 {
		font-size: 30px;
	}
	.content .top p {
		width: 80%;
		margin: 0 auto;
	}
}


/*教师展示部分*/

.content .bottom {
	padding: 0px 0px 60px 0px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.content .bottom .text {
	width: 70%;
	max-width: 600px;
	margin: 0 auto;
	font-size: 16px;
	color: #666666;
	text-align: center;
	line-height: 32px;
}


/*教师个人信息展示*/

.content .bottom .exhibition {
	width: 100%;
	text-align: center;
	padding-top: 40px;
}

.exhibition .info {
	display: inline-block;
	width: 22%;
	margin: 0px 0.5%;
	border: 1px solid #999999;
	text-align: center;
	margin-top: 160px;
	position: relative;
}

.exhibition .info:hover {
	box-shadow: 0px 40px 60px 0px rgba(45, 44, 44, 0.2);
}

.exhibition .info .headImg {
	display: block;
	width: 180px;
	height: 180px;
	border-radius: 180px;
	background-color: #CCCCCC;
	border: 1px solid gainsboro;
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -90px;
	overflow: hidden;
}
.exhibition .info .headImg img{
	width: 100%;
	height: auto;
}
.exhibition .info h2 {
	padding-top: 120px;
	font-size: 18px;
	font-weight: bold;
}

.exhibition .info h4 {
	padding: 16px 0px 20px 0px;
	font-size: 14px;
	color: #999999;
}

.exhibition .info p {
	width: 90%;
	font-size: 16px;
	color: #999999;
	padding: 20px 0px;
	max-height: 120px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
}
.exhibition .info .qq {
	width: 50%;
	margin: 0 auto;
	background: #fff;
	overflow: hidden
}

.exhibition .info .qq ul li {
	float: left;
	padding: 20px 0;
	width: 33.3%;
	text-align: center;
	margin-left: 0
}

.exhibition .info .qq ul li a i {
	font-size: 22px
}

.exhibition .info:hover .headImg {
	box-shadow: 0 2px 20px 2px rgba(0, 0, 0, .1)
}

.exhibition .info:hover h2 {
	color: #2097ea
}

.exhibition .info:hover p {
	background-color: #ffae21;
	color: #fff
}
.exhibition .info:hover .qq ul li:hover{
	cursor: pointer;
}
.exhibition .info:hover .qq ul li:nth-of-type(1) a {
	color: #df323e
}

.exhibition .info:hover .qq ul li:nth-of-type(2) a {
	color: #2ac522
}

.exhibition .info:hover .qq ul li:nth-of-type(3) a {
	color: #469df7
}
@media only screen and (max-width: 1200px) {
	.exhibition .info {
		display: inline-block;
		width: 30%;
		margin: 0px 0.5%;
		border: 1px solid #999999;
		text-align: center;
		margin-top: 160px;
		position: relative;
	}
}

@media only screen and (max-width: 900px) {
	.exhibition .info {
		display: inline-block;
		width: 46%;
		margin: 0px 0.5%;
		border: 1px solid #999999;
		text-align: center;
		margin-top: 160px;
		position: relative;
	}
}

@media only screen and (max-width: 716px) {
	.exhibition .info {
		display: inline-block;
		width: 90%;
		margin: 0px 0.5%;
		border: 1px solid #999999;
		text-align: center;
		margin-top: 160px;
		position: relative;
	}
}


/*加载更多按钮*/

.content .bottom .moreBtn {
	display: block;
	width: 160px;
	height: 42px;
	border-radius: 25px;
	border: 1px solid #2097ea;
	text-align: center;
	line-height: 42px;
	font-size: 14px;
	color: #2097ea;
	margin: 30px auto;
	position: relative;
	z-index: 9999;
	transition: all .5s;
	transform: translate(0, 0);
}

.content .bottom .moreBtn:hover {
	cursor: pointer;
	background-image: -moz-linear-gradient(0deg, #2097ea 0, #1471d0 100%);
	background-image: -webkit-linear-gradient(0deg, #2097ea 0, #1471d0 100%);
	background-image: -ms-linear-gradient(0deg, #2097ea 0, #1471d0 100%);
	box-shadow: 0 10px 20px 0 rgba(4, 95, 185, .8);
	color: #fff;
	transform: translate(0, -5px)
}