
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499306716728'); /* IE9*/
  src: url('iconfont.eot?t=1499306716728#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499306716728') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499306716728') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499306716728#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon4:before { content: "\e67b"; }

.icon-guandiaotongzhi:before { content: "\e62c"; }

.icon-icon:before { content: "\e64c"; }

.icon-guanbi:before { content: "\e67a"; }

.icon-bTrigon:before { content: "\e604"; }

.icon-triangle-right:before { content: "\e606"; }

.icon-weibo:before { content: "\e600"; }

.icon-xing:before { content: "\e605"; }

.icon-zuoyoujiantou-copy-copy:before { content: "\e64a"; }

.icon-zuoyoujiantou-copy-copy-copy:before { content: "\e64b"; }

.icon-dianhua:before { content: "\e62e"; }

.icon-weixin:before { content: "\e601"; }

.icon--huojiandaodan:before { content: "\e664"; }

.icon-arrow:before { content: "\e607"; }

.icon-qq:before { content: "\e602"; }

.icon-dianhua1:before { content: "\e615"; }

.icon-tupian:before { content: "\e603"; }

